name: 'build-test'
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

jobs:
  build-test: # make sure build/ci work properly
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: |
          npm install
      - run: |
          npm run all
      - uses: ./
        with:
          magicpod_api_token: ${{ secrets.MAGICPOD_API_TOKEN }}
          magicpod_organization_name: ${{ secrets.MAGICPOD_ORGANIZATION_NAME}}
          magicpod_project_name: ${{ secrets.MAGICPOD_PROJECT_NAME}}
        env:
          DD_API_KEY: ${{ secrets.DD_API_KEY }}
